@charset "UTF-8";

.shop-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-title{
    font-size: 30px;
    font-family: ng-bold;
}
.shop-list{
    display: flex;
}
.shop-list>div{
    width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 60px 20px;
	box-shadow: rgb(0 0 0 / 12%) 10px 6px 16px;
}
.shop-photo{
	position: relative;
}
.shop-photo>img{
	width: 220px;
	height: 234px;
}
.shop-info{
	padding: 10px 0;
	font-size: 20px;
	color: #AD8B73;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shop-info>div:first-of-type{
	text-align: center;
	width: 220px;
	height: 30px;
	overflow: hidden;
}
.shop-price-info{
	width: 90%;
	margin: 0 auto;
	display: flex;
	font-size: 16px;
	color: grey;
	justify-content: space-between;
}
.shop-rating{
	display: flex;
}
.hidden-div{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: grey;
	background-color: white;
}
.hidden{
	display: none;
}