@charset "UTF-8";

.page-wrap{
	margin-top: 150px;
}
.slick-btn{
	border: none;
	background: inherit;
}
.content-slick{
	min-height: 600px;
	margin-top: 90px;
}
.slick-btn{
	z-index: 1;
}
.slick-btn>span{
	font-size: 50px;
	line-height: 50px;
}
.slick-dots {
	bottom: 20px !important;
}
.slick-dots li{
	margin: 0 20px !important;
}
.slick-dots li button:before{
	font-size: 15px !important;
}
#prevPageBtn{
	position: absolute;
	bottom: 290px;
	left: 35%;
}
#nextPageBtn{
	position: absolute;
	bottom: 290px;
	right: 35%;
}
.camping-list-menu{
	width:69%;
	padding: 0 0px;
    margin: 0 auto;
    min-width: 600px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #AD8B73;
	margin-top: 90px;
	padding-top: 15px;
}
.camping-list-menu>div{
	font-size: 22px;
	display: flex;
	/*margin: 0 10px;*/
	/*height: 50px;*/
}
.camping-filter>div{
	display: flex;
}
.clicked-span{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.camping-list-menu>div>span{
	font-size: 30px;
	color: #AD8B73;

}
.camping-list-menu>div>div{
	margin-left: 10px;
	width: 105px;
	color: #AD8B73;
	cursor: pointer;
}

.material-symbols-outlined{
	font-size: 27px !important;
}

.page-camping-header{
	background-image: url(../../image/shop/camping-shop4.jpg);
	background-position: center;
	background-size: 100%;
}
.page-car-header{
	background-size: 100%;
	background-image: url(../../image/shop/shopCarBackground.jpg);
}
.page-etc-header{
	background-size: 100%;
	background-image: url(../../image/shop/shopEtcBackground.jpg);
}
.slick-content{
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
	width: 100%;
	height: 100%;
}
.slick-title{
	color: white;
	text-align: center;
	/*position: absolute;*/
	width: 100%;
	height: 400px;
	line-height: 400px;
	bottom: 0px;
	font-size: 60px;
	font-family: aggro-bold;
	padding-top: 100px;
}
.shop-wrap{
	width: 100%;
	margin-top: 600px;
	background-color: white;
	margin: 0 auto;
}
.shop-list{
	width: 80%;
	margin: 0 auto;
	min-width: 600px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.shop-list>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 60px 20px;
	border: 1px solid white;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	box-shadow: rgb(0 0 0 / 12%) 10px 6px 16px;
}
.shop-photo{
	position: relative;
}
.shop-photo>img{
	width: 300px;
	height: 320px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.shop-info{
	padding: 10px 0;
	font-size: 20px;
	color: #AD8B73;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shop-info>div:first-of-type{
	width: 300px;
	height: 30px;
	overflow: hidden;
	text-align: center;
}

.shop-price-info{
	width: 90%;
	margin: 0 auto;
	display: flex;
	font-size: 16px;
	color: grey;
	justify-content: space-between;
}
.shop-rating{
	display: flex;
}
.hidden-div{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: grey;
	background-color: white;
}
.shop-footer{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 100px;
}
.pagination > li {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}
.shop-footer>button{
	width: 30%;
	height: 30px;
}
.hidden{
	display: none;
}
.s1_arrow{
	display: inline-block;
	position:relative;  
	margin-left:-10px; 
	text-align:center; 
}
.right-s1{
	transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg); 
	-o-transform: rotate(180deg);  
	-ms-transform: rotate(180deg);
}
.scroll-arrow {
	display: inline-block;
	width:20px; 
	height:20px; 
	border-right: 3px solid white; 
	border-bottom: 3px solid white;
	transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	-moz-transform: rotate(135deg); 
	-o-transform: rotate(135deg);  
	-ms-transform: rotate(135deg);
	animation: arrow-wave 1s infinite; 
	animation-direction: alternate;}
.scroll-arrow:nth-child(1) {animation-delay: 0.1s;}
.scroll-arrow:nth-child(2) {margin-left:6px; animation-delay: 0.2s;}
.scroll-arrow:nth-child(3) {margin-left:6px; animation-delay: 0.3s;}
@keyframes arrow-wave {
0% {opacity: 0;}
50% {opacity: .5;}
100% {opacity: 1;}
}

.total-count{
	display: flex;
	justify-content: flex-start;
	color: #AD8B73;
}

.total-count>p{
	color: #7b7b7b;
	font-size: 26px;
}
.total-count>p>span{
	color:#AD8B73;
	font-size: 25px;
	font-family: ng-bold;
	font-size: 30px;
}

.filter1{
	margin-right: 13px;
}

.title2{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.title2>p{
	font-size: 40px;
	color: #AD8B73;
	font-family: ng-extra;
}

.shop-info>.s-title{
	margin-bottom: 15px;
}

.shop-box{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}