@charset "UTF-8";

.page-wrap{
	width: 100%;
	margin-top: 200px;
}
.page-header{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	justify-content: space-evenly;
}
.slider-box{
	width: 30%;
	min-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slider-for img{
	width: 300px;
	height: 350px;
}
.slider-nav{
	display: flex;
}
.slider-nav img{
	height: 120px;
}
.product-info-wrap{
	min-width: 350px;
	width: 50%;
}
.product-info-wrap>div{
	padding: 20px 30px;
	border-bottom: 1px solid #dedede;
}
.product-info-wrap>div:first-of-type{
	width: 100%;
}
.product-info-wrap>div:not(:first-of-type){
	padding-right: 50px;
	padding-left: 50px;
}
.product-info-wrap>div:last-of-type{
	border-bottom: none;
}
.product-title>div:first-of-type{
	font-size: small;
}
.product-title>div:last-of-type{
	font-size: 25px;
	font-family: ng-bold;
}
.product-info{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.product-info>div{
	display: flex;
	justify-content: space-between;
	width: 30%;
	padding: 10px 0;
}
.product-info>div>div:last-of-type{
	display: flex;
}
.product-price-wrap{
	display: flex;
	justify-content: space-between;
}
.product-price-wrap>div:first-of-type{
	display: flex;
	width: 35%;
	justify-content: space-between;
}
.shop-count-btn-box{
	display: flex;
}
.shop-count-btn-box>input{
	width: 40px;
	border: none;
	text-align: center;
}
.product-price-wrap>div:last-of-type{
	display: flex;
}
.product-totalPrice-wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
}
.product-totalPrice-wrap>div:first-of-type{
	display: flex;
	justify-content: space-between;
}
.product-totalPrice-wrap>div:first-of-type>div:last-of-type{
	display: flex;
}
.product-btn-wrap{
	display: flex;
	justify-content: flex-end;
}
.product-btn-wrap>button{
	width: 100px;
	height: 40px;
	margin-left: 30px;
}
.page-content{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}
.content-menu-box{
	display: flex;
	border-top: 1px solid #dedede;
}
.content-menu{
	width: 20%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #dedede;
}
.content-menu-box>div:last-of-type{
	width: 40%;
	border-bottom: 1px solid #dedede;
}
.content-box{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}
.clicked{
	border-bottom: none;
}
.hidden{
	display: none;
}
.review-list-header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
.review-list-header>div:first-of-type{
	font-family: ng-bold;
	font-size: 20px;
}
.review-list-header>div:last-of-type{
	display: flex;
}
.review-list-header>div:last-of-type>div{
	margin: 0 5px;
}
.review-box{
	padding: 20px;
	border-top: 1px solid #dedede
}
.member-info-wrap{
	display: flex;
	margin-bottom: 30px;
}
.member-info-box{
	margin-left: 10px;
}
.member-info-box>div:last-of-type{
	display: flex;
}
.member-info>div{
	margin-right: 10px;
}
.profile-box>img{
	width: 50px;
}
.old-photo-list{
	display: flex;
}
.new-photo-list{
	display: flex;
}
.photo-name-box{
	text-align: center;
	margin: 0 10px;
}
.photo-name-box>img{
	width: 100px;
	height: 100px;
}
.review-content-box{
	padding-left: 30px;
}
.review-img-wrap{
	margin-bottom: 20px;
}
.review-img-wrap>img{
	width: 100px;
	height: 100px;
}
.review-update-btn{
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}
.review-update-btn>button{
	width: 150px;
	height: 30px;
	margin-left: 10px;
}
.review-frm-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dedede;
}
.review-frm-content{
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
}
.rating-icon-wrap>span{
	font-size: small;
}
.star-icon-wrap>span{
	font-size: 30px;
}
.review-frm-content>div:first-of-type{
	width: 100%;
}
.img-viewer{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.review-frm-content>div:first-of-type>div{

	margin-bottom: 20px;
}
.review-frm-content>div:first-of-type>div>img{
	width: 100%;
	height: 150px;
}
.review-frm-content>div:last-of-type{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.review-frm-content>div:last-of-type>button{
	width: 100%;
	height: 20%;
}
.review-frm-content>div:last-of-type>div{
	width: 30%;
	align-items: flex-end;
	display: flex;
}
.review-frm-content>div:last-of-type>div>button{
	width: 50%;
	height: 30px;
}
.review-frm-content textarea{
	width: 100%;
	height: 200px;
	resize: none;
}
.star-checked{
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}
.star-clicked{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48f
}
.no-result-wrap{
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.no-result-wrap>h3{
	margin-top: 50px;
}