@charset "UTF-8";


.menu-div{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
}
.menu-title{
    margin-bottom: 20px;
}

.menu-title>h2{
   color: #AD8B73;
   font-weight: 500;
}

.content-wrap{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}

.menu-list>ul>li{
    list-style: none;
    padding: 0;
}

.menu-list>ul{
    padding-left: 0;
    float: left;
}

.menu-list>ul>li{
    border-bottom: 1px solid #AD8B73;
    height: 50px;
    line-height: 50px;
    width: 200px;
    color: #AD8B73;
}

.menu-list>ul>li>a{
   padding-left: 5px;
   display: inline-block;
   width: 100%;
}

.menu-list>ul>li:hover{
    background-color: #ad8b7321;
 }

 .menu-list>ul>li>a:hover{
    color: #AD8B73;
 }

.menu-list>ul>li:first-child{
    border-top : 1px solid #AD8B73;
}

.menu-list>ul>li.active-tab{
    background-color: #ad8b7321;
}


/*타이틀*/

.admin-content{
    width: 930px;
    float: right;
    border-bottom: 1px solid #AD8B73;

}

.admin-title{
    overflow: hidden;
}
.admin-title>h3{
    color: #AD8B73;
    font-size: 30px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;

}

.admin-title>h4{
    float: right;
    color: #737373;
    font-size: 22px;
    margin-top: 10px;
}

.list{
    width: 930px;
    float: right;
    margin-top: 60px;
}

.list>table{
    width: 930px;
    text-align: center;
}

.all-navi{
    margin-top: 40px;
}

.list>table>tbody>tr:first-child{
    background-color: #AD8B73;
    height: 50px;
    color: white;
}

.list>table>tbody>tr>td{
    height: 50px;
    border-bottom: 1px solid #AD8B73;
}

.list>table>tbody>tr:not(:first-of-type):hover{
    background-color: #ad8b7318;
}

.td1{
    width: 100px;
}
.td2{
    width: 200px;
}
.td3{
    width: 230px;
}
.td4{
    width: 250px;
}

.nameTd{
    cursor: pointer;
}
.nameTd:hover{
    text-decoration :underline !important;
    color: #AD8B73;
}

/*모달*/
.modalWrap{
   display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
}

.member-modal{
    background-color: #fff;
    width: 500px;
    min-width: 550px;
    max-width: 250px;
    height: 600px;
    min-height: 180px;
    max-height: 600px;
    border-radius: 10px;
}

.member-content{
    margin: 15px auto;
    width: 400px;
    height: 350px;
}

.ok-top>h3{
    font-size: 35px;
    text-align: center;
    padding-top : 45px;
    padding-bottom: 20px;
    color: #AD8B73;
}

.btn-div{
	width: 80px;
    text-align: center;
    margin-top: 60px;
    margin-left: 440px;
}

.btn-div>.reset{
    background-color: #AD8B73;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

.member-content h4{
    color: #AD8B73;
    font-size: 20px;
    border-bottom: 1PX solid #AD8B73;
    padding-bottom: 5px;
}

.member-content>#content-title{
    margin-bottom: 20px;
}




/*판매 상품 리스트*/
.insert-btn{
    float: right;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    text-align: center;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.insert-btn>a{
    font-size: 20px;
    font-family: ng-regular;
    color :#AD8B73
}

.material-symbols-outlined{
    font-size: 35px;
    margin-top: 10px;
    color: #AD8B73;
    margin: 0;
}

/*shop list*/
.admin-shop{
    width: 930px;
    float: right;
    margin-top: 80px;

}
.p-list{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.product-img>img{
    border-radius: 7px;
}

.p-info{
    margin-bottom: 70px;
}

.product-name{
    color: #AD8B73;
    font-size: 23px;
    padding : 10px 0;
    border-bottom: 1px solid #AD8B73;
    font-weight: 500;
}
.price{
    margin-top: 10px;
    color: #AD8B73;
}

.count{
    margin-top: 7px;
   
}

.product-img{
    overflow: hidden;
    border-radius: 7px;
}
.product-img>img {
    transition: all 0.1s linear;
  }
.product-img:hover>img {
    transform: scale(1.1);
  }

.p-info>a{
    color: #737373;
}
.infomation{
    width: 400px;
}

.infomation>p{
    color: #737373;
    font-size: 23px;
}


/*정보 수정*/

.admin-title{
    border-bottom: 1px solid #AD8B73;
}
.admin-info{
    width: 930px;
    /*
    display: flex;
    justify-content: center;
    */
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #AD8B73;
    
}

.admin-info>table{
    width: 700px;
    margin: 0 auto;
}

.admin-pwUp{
    width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.admin-info>table>tbody>tr>td:first-child{
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #AD8B73;
}

.admin-info>table>tbody>tr>td>input{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #AD8B73;
    padding-left: 10px;
}
.comment{
    position: absolute;
}

.admin-pwupdate{
    background-color: #AD8B73;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
