@charset "UTF-8";

.reviewWrap{
	width: 1200px;
	margin: 0 auto;
}
.reviewContentWrap{
	width: 1200px;
	margin: 0 auto;
}
.allStar{
	text-align: center;
	padding-bottom: 30px;
}
.reviewHeader{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.allReview{
	width: 200px;
	height: 50px;
	float: left;
	margin-left: 400px;
	text-align: center;
	line-height: 50px;
}
.campingAnswer{
	width: 200px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
}



.modal-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-wrap {
  width: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
}



.modal-wrap div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.modal-wrap .modal-content {
  flex-grow: 1;
  padding: 1rem;
}

.modal-wrap .modal-foot {
  text-align: right;
  margin-top: auto;
  padding: 1rem;
}

.modal-wrap div.modal-head {
  position: relative;
  padding: 1rem;
}

.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 30px;
}

.close-icon:hover {
  cursor: pointer;
}

.modal-open-btn{
	width: 400px;
	height: 50px;
	cursor: pointer;
	margin-left: 400px;
	margin-top: 50px;
}


.star-wrap {
  overflow: hidden;
}

.star-wrap > span {
  float: left;
  color: lightgray;
  font-size: 30px;
}

.star-wrap2 {
  position: relative;
}

.star-on {
  position: absolute;
  top: 0;
  left: 0;
}

.star-on-wrap {
  width: 0;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.star-on-wrap > span {
  color: gold;
}

#img-viewer img {
  		width: 200px;
  		height: 200px;
}
[name=campingReviewContent]{
	width: 560px;
	height: 200px;
	resize: none;
}