	/* 占쎄텢占쎌뒠占쎈막 font 占쎄퐨占쎈섧 */
@font-face {
  font-family: ng-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: ng-extra-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);
}
@font-face {
  font-family: ng-regular;
  src: url(../font/Nanum_Gothic/NanumGothic-Regular.ttf);
}

/* 
    占쎄텢占쎌뵠占쎈뱜 占쎄텢占쎌뒠 占쎄퉳占쎄맒 
    balck : #252A34
    darkgray : #393E46
    lightgray : #EEEEEE
    dark-mint : #00ADB5
    mint : #08D9D6
    point-red : #FF2E63
    point-pink : #F85F73
    point-violet : #892CDC
*/
/* 占쎌읈筌ｋ똾源�域뱄옙 疫꿸퀡�궚 margin, padding 占쎌젫椰꾬옙 */
/* 疫꿸퀡�궚 疫뀐옙占쎈뎁 占쎄퉳 獄쏉옙 占쎈？占쎈뱜 占쎄퐬占쎌젟 */

* {
  margin: 0;
  padding: 0;
  font-family: ng-regular;
}
/* 疫꿸퀡�궚 甕곌쑵�뱣 3揶쏉옙 */
.btn1{
	background-color : #AD8B73;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #CEAB93;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #E3CAA5;
	border : none;
	color : white;
	border-radius : 5px;
}

/*페이지네이션*/
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination > li {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
}
    .pagination.circle-style > li {
    border-radius: 50%;
}
    .pagination > li > a.page-item {
    display: block;
    color: #AD8B73;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
    .pagination > li > a.page-item > span.material-icons {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
    .pagination .page-item.active-page {
    background-color: #E3CAA5;
    color: #FFFBE9;
}
