	/* �뜝�럡�뀬�뜝�럩�뮔�뜝�럥留� font �뜝�럡�맖�뜝�럥�꽘 */
@font-face {
  font-family: ng-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: ng-extra-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);
}
@font-face {
  font-family: ng-regular;
  src: url(../font/Nanum_Gothic/NanumGothic-Regular.ttf);
}

/* 
    �뜝�럡�뀬�뜝�럩逾졾뜝�럥諭� �뜝�럡�뀬�뜝�럩�뮔 �뜝�럡�돰�뜝�럡留� 
    balck : #252A34
    darkgray : #393E46
    lightgray : #EEEEEE
    dark-mint : #00ADB5
    mint : #08D9D6
    point-red : #FF2E63
    point-pink : #F85F73
    point-violet : #892CDC
*/
/* �뜝�럩�쓧嶺뚳퐢�샑繹먲옙�윜諭꾩삕 �뼨轅명�∽옙沅� margin, padding �뜝�럩�젷濾곌쒀�삕 */
/* �뼨轅명�∽옙沅� �뼨�먯삕�뜝�럥�럞 �뜝�럡�돰 �뛾�룊�삕 �뜝�럥竊잌뜝�럥諭� �뜝�럡�맟�뜝�럩�젧 */

* {
  margin: 0;
  padding: 0;
  font-family: ng-regular;
}
/* �뼨轅명�∽옙沅� �뵓怨뚯뫓占쎈괏 3�뤆�룊�삕 */
.btn1{
	background-color : #AD8B73;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #CEAB93;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #E3CAA5;
	border : none;
	color : white;
	border-radius : 5px;
}

/*�럹�씠吏��꽕�씠�뀡*/
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination > li {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
}
    .pagination.circle-style > li {
    border-radius: 50%;
}
    .pagination > li > a.page-item {
    display: block;
    color: #AD8B73;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
    .pagination > li > a.page-item > span.material-icons {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
    .pagination .page-item.active-page {
    background-color: #E3CAA5;
    color: #FFFBE9;
}
