	/* �궗�슜�븷 font �꽑�뼵 */
@font-face {
  font-family: ng-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: ng-extra-bold;
  src: url(../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);
}
@font-face {
  font-family: ng-regular;
  src: url(../font/Nanum_Gothic/NanumGothic-Regular.ttf);
}

/* 
    �궗�씠�듃 �궗�슜 �깋�긽 
    balck : #252A34
    darkgray : #393E46
    lightgray : #EEEEEE
    dark-mint : #00ADB5
    mint : #08D9D6
    point-red : #FF2E63
    point-pink : #F85F73
    point-violet : #892CDC
*/
/* �쟾泥댄깭洹� 湲곕낯 margin, padding �젣嫄� */
/* 湲곕낯 湲��뵪 �깋 諛� �룿�듃 �꽕�젙 */

* {
  margin: 0;
  padding: 0;
  font-family: ng-regular;
}
/* 湲곕낯 踰꾪듉 3媛� */
.btn1{
	background-color : #AD8B73;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #CEAB93;
	border : none;
	color : white;
	border-radius : 5px;
}
.btn2{
	background-color : #E3CAA5;
	border : none;
	color : white;
	border-radius : 5px;
}
