.input-div{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.input-title{
    margin-bottom: 20px;
}

.input-title>h2{
   color: #AD8B73;
   margin-top: 0;
}

.input-content>table{
    width: 500px;
    height: 130px;
}