<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값이 발생하면 빈칸("")이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.iei.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.iei.member.model.vo.CampingPayment" alias="cp"/>
		<typeAlias type="kr.or.iei.member.model.vo.ProductPayment" alias="pp"/>
		<typeAlias type="kr.or.iei.member.model.vo.MyReview" alias="mr"/>
		<typeAlias type="kr.or.iei.usedBoard.model.vo.UsedBoard" alias="ub"/>
		<typeAlias type="kr.or.iei.camping.model.vo.Camping" alias="c"/>
		<typeAlias type="kr.or.iei.camping.model.vo.CampingRoom" alias="cr"/>
		<typeAlias type="kr.or.iei.usedBoard.model.vo.UsedBoardPhoto" alias="ubp"/>
		<typeAlias type="kr.or.iei.camping.model.vo.CampingRoomFileVO" alias="crf"/> 
		<typeAlias type="kr.or.iei.camping.model.vo.CampingProvideService" alias="cps"/>
		<typeAlias type="kr.or.iei.camping.model.vo.CampingRoomService" alias="crs"/>
		<typeAlias type="kr.or.iei.camping.model.vo.CampingEtc" alias="ce"/>
		<typeAlias type="kr.or.iei.message.model.vo.Message" alias="ms"/>
		 <typeAlias type="kr.or.iei.camping.model.vo.SellCampingList" alias="scl"/> 
		 <typeAlias type="kr.or.iei.notice.model.vo.Notice" alias="n"/>
		 <typeAlias type="kr.or.iei.board.food.model.vo.BoardFood" alias="bf"/>
		 <typeAlias type="kr.or.iei.camping.model.vo.CampingReview" alias="crv"/>
		 <typeAlias type="kr.or.iei.camping.model.vo.CampingReviewFileVO" alias="crvf"/>
		 <typeAlias type="kr.or.iei.camping.model.vo.CampingReviewFileVO" alias="crvf"/>
		 <typeAlias type="kr.or.iei.board.food.model.vo.FileVO" alias="f"/>
		 <typeAlias type="kr.or.iei.board.food.model.vo.BoardFoodViewData" alias="bfvd"/>
		 <typeAlias type="kr.or.iei.usedBoard.model.vo.UsedBoardPhoto" alias="ubp"/>
		 <typeAlias type="kr.or.iei.usedBoard.model.vo.UsedBoardComment" alias="ubc"/>
		 <typeAlias type="kr.or.iei.board.food.model.vo.FoodComment" alias="fc"/>
		 <typeAlias type="kr.or.iei.inquiry.model.vo.Inquiry" alias="i"/>
		 <typeAlias type="kr.or.iei.shop.model.vo.Shop" alias="s"/>
		 <typeAlias type="kr.or.iei.shop.model.vo.ShopPhoto" alias="sp"/>
		 <typeAlias type="kr.or.iei.shop.model.vo.ShopReview" alias="sr"/>
		 <typeAlias type="kr.or.iei.shop.model.vo.ShopReviewPhoto" alias="srp"/>
		 <typeAlias type="kr.or.iei.inquiry.model.vo.AdminInquiry" alias="ai"/>
	</typeAliases>
</configuration>
