@charset "UTF-8";



.wrap{
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
.tabs{
	height: 100vh;
	list-style: none;
	font-size: 20px;
}
.tabs>li{
	padding-bottom: 20px;
}
.tabsWrap{
	width: 200px;
	margin-right: 50px;
	float: left;
}
.contentWrap{
	width: 700px;
	float: left;
	overflow: hidden;
}
.activeTab{
	color: blue;
}
.activeContent{
	display: block;
}
.input-long{
	width: 500px;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

.campingContent{
	width: 620px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 5px;
	resize: none;
}
.campingRoomContent{
	width: 620px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 5px;
	resize: none;
}
h3{
	padding-top: 30px;
	padding-bottom: 10px;
}
.nextBtn{
	width: 150px;
	height: 50px;
	float: right;
	cursor: pointer;
	margin-top: 50px;
}
.prevBtn{
	width: 150px;
	height: 50px;
	cursor: pointer;
	margin-top: 50px;
}
.campingRoomInput{
	width: 70%;
	box-sizing: border-box;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
}
.uploadImg{
    width: 620px;
    height: 620px;
    border: 1px solid #ccc;
    font-size: 70px;
    color: #ccc
}


.campingServiceTbl td{
	width: 150px;
	padding-bottom: 30px;
	padding-top: 10px;
}
#searchBtn{
	width: 150px;
	height: 90px;
	cursor: pointer;
}
#postcode{
	width: 350px;
	height: 40px;
}
#address{
	width: 350px;
	height: 40px;
}
#detailAddress{
	width: 520px;
	height: 40px;
}
.moveMapBtn{
	height: 40px;
	cursor: pointer;
}

