@charset "UTF-8";
.page-wrap{
	width: 70%;
	margin: 0 auto;
	margin-top : 200px;
}
.header-wrap{
	display : flex;
}
.camping-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding : 0 30px;
	width: 100%;
	height: 300px;
}
.camping-info>div{
	padding: 0 10px;
}
.camping-info>div:last-of-type{
	text-align: center;
}
.camping-info>div:last-of-type>button{
	width: 100%;
	height: 40px;
}
.camping-title{
	font-size: 25px;
	font-family: ng-bold;
}
.camping-addr{
	font-weight: lighter;
	font-size: medium;
	color: greys;
}
.camping-detail{
	padding: 10px;
}
.camping-detail>div:first-of-type{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	padding-bottom: 20px;
	border: 1px solid #dedede;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
}
.camping-detail>div:first-of-type>div{
	font-family: ng-bold;	
}
.camping-detail>div:first-of-type>button{
	color: #CEAB93;
	border: none;
	background-color: white;
}
.camping-content{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.5em;
    height: 50px;
	padding: 0 15px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	border: 1px solid #dedede;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
}
.opened{
	display: block;
	height: 100px;
	margin-bottom: 0;
	overflow: scroll;
}
.img-wrap>img{
	width : 500px;
	height: 300px;
}
.content-hidden{
	display: none;
}
.service-info{
	display: flex;
	flex-direction: column;
	height: 400px;
	font-size: 13px;
	margin-top: 30px;
}
.provide-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.provide-box>div{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.provide-box>div>div:first-of-type{
	font-size: 15px;
	font-family: ng-bold;
	margin-bottom: 20px;
}
.provide-box>div>div:last-of-type{
	display: flex;
}
.provide-box>div>div>div{
	text-align: center;
	width: 92px;
	padding: 10px 0;
	border-bottom: 1px solid #dedede;
}
.content-menu{
	display: flex;
	border-bottom: 1px solid #dedede;
}
.content-header{
	display: flex;
	justify-content : space-around;
	padding: 30px 0;
}
.content-header>div:first-of-type{
	width: 30%;
}
.content-header>div:first-of-type>div{
	height: 50px;
	line-height: 50px;
}
.weather-list{
	text-align: center;
}
.weather-list>div{
	display: inline-block;
	text-align: center;
	margin: 0 10px;
}
.content-menu>div{
	margin-right: 15px;
	padding-bottom: 30px ;
}
.content-menu>div>button{
	width: 100px;
	height: 30px;
}
.clicked{
	border-bottom: 4px solid #AD8B73; 
}
.type-content{
	display: flex;
}
.campingRoom-list{
	border: 1px solid #dedede;
}
.room-wrap{
	display: flex;
	padding: 30px;
}
.room-img{
	width: 350px;
	height: 220px;
}
.room-price-box{
	display: flex;
	justify-content: space-between;
}
.room-img-box{
	width: 40%;
	height: 200px;
}
.room-img-box>div{
	width: 100%;
	height: 100%;
}
.room-box{
	width: 60%;
	padding: 0 20px;
}
.room-box>div:first-of-type{
	font-family: ng-bold;
	font-size: 18px;
}
.room-price-box{
	padding-top: 40px;
}
.room-price-box>div{
	font-family: ng-bold;
}
.room-basic-info>a{
	display: flex;
	justify-content: space-between;
	margin : 20px 0;
}
.room-basic-info>a:hover{
	color: #AD8B73;
}
.room-btn-box>button{
	width: 100%;
	height: 30px;
}
.card-body{
	padding: 30px;
}
.card-body>div{
	margin : 10px 0;
	padding-bottom : 10px; 
}
.card-title{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #dedede;
}
.card-content{
	display: flex;
}
.card-content>div:first-of-type{
	width: 60%;
	height: 165px;
	overflow: scroll;
	padding-right: 20px;
}
.room-detail-info{
	width: 40%;
	height: 80%;
	padding : 0 20px;
	padding-top: 25px;
	border-left: 1px solid #dedede;
}
.card-content>div>div:first-of-type{
	font-family: ng-bold;
	margin-bottom: 20px;
}
.room-detail-info>div{
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.carousel-item > img{
	height: 200px;
}
.campingInfoWrap{
	margin-top: 30px;
}
.campingInfoWrap>div{
	margin: 20px 0;
}
.campingInfoWrap>div>div:first-of-type{
	font-family: ng-bold;
	font-size: 18px;
	margin-bottom: 10px;
}
.campingInfoWrap>div>textarea{
	resize: none;
	width: 100%;
	min-height: 100px;
	height: 200px;
	border: none;
}
.campingInfoMap>div{
	font-family: ng-bold;
	font-size: 18px;
	margin-bottom: 10px;
}